@model PlayZone.Web.ViewModels.Chanels.ChanelDescriptionViewModel
@{
    ViewData["Title"] = "Description";
}

<a class="btn btn-secondary" asp-controller="Chanels" asp-action="Details" asp-route-id="@Model.Id">&lt Back</a>

<div class="row">
    <h1>@Model.Title Chanel Description:</h1>
</div>
<hr />
<div class="row">
    <p>@Model.Description</p>
</div>