@model PlayZone.Web.ViewModels.Chanels.ChanelDetailsViewModel
@{
    ViewData["Title"] = "Details";
}

    <div class="text-center">

        @if (Model.ImageUrl != null)
        {
            <div class="container">
                <div>

                    <img src="http://res.cloudinary.com/dqh6dvohu/image/upload/c_thumb,g_center,h_339,w_958/@Model.ImageUrl" class="img-fluid">
                </div>
            </div>
            <div class="btn btn-mdb-color btn-rounded float-left">
                <a href="/Chanels/ImageUpload/@Model.Id">Change Image</a>
            </div>
            <br />
            <br />
        }
        else
        {

            <form class="md-form">
                <div class="file-field">
                    <div class="z-depth-1-half mb-4">
                        <img src="https://mdbootstrap.com/img/Photos/Others/placeholder.jpg" class="img-fluid"
                             alt="example placeholder">
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="btn btn-mdb-color btn-rounded float-left">
                            <a href="/Chanels/ImageUpload/@Model.Id">Image Upload</a>
                        </div>
                    </div>
                </div>
            </form>


        }
        <div>
            <h1>@Model.Title</h1>
        </div>

        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Description</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Settings" asp-action="Index">Videos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Videos" asp-action="Create">AddVideo</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </div>