@model PlayZone.Web.ViewModels.Chanels.ChanelDetailsViewModel
@{
    ViewData["Title"] = "Details";
}

<div class="text-center">

    @if (Model.ImageUrl != null)
    {
        <div class="container">
            <div>

                <img src="http://res.cloudinary.com/dqh6dvohu/image/upload/c_thumb,g_center,h_339,w_958/@Model.ImageUrl" class="img-fluid">
            </div>
        </div>
        <div class="btn btn-mdb-color btn-rounded float-left">
            <a asp-controller="Chanels" asp-action="ImageUpload" asp-route-id="@Model.Id">Change Image</a>
        </div>
        <br />
        <br />
    }
    else
    {

        <form class="md-form">
            <div class="file-field">
                <div class="z-depth-1-half mb-4">
                    <img src="https://mdbootstrap.com/img/Photos/Others/placeholder.jpg" width="958" height="339" class="img-fluid"
                         alt="example placeholder">
                </div>
                <div class="d-flex justify-content-center">
                    <div class="btn btn-mdb-color btn-rounded float-left">
                        <a asp-controller="Chanels" asp-action="ImageUpload" asp-route-id="@Model.Id">Image Upload</a>
                    </div>
                </div>
            </div>
        </form>


    }
    <div>
        <h1>@Model.Title</h1>
    </div>



    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

</div>