
@model PlayZone.Web.ViewModels.Chanels.ChanelDetailsViewModel
@{
    ViewData["Title"] = "Details";
}

<div class="text-center">



    @if (Model.ImageUrl != null)
    {
        <div class="container">
            <div>

                <img src="http://res.cloudinary.com/dqh6dvohu/image/upload/c_thumb,g_center,h_339,w_958/@Model.ImageUrl" class="img-fluid">
            </div>
        </div>
        <div class="btn btn-mdb-color btn-rounded float-left">
            <a asp-controller="Chanels" asp-action="ImageUpload" asp-route-id="@Model.Id">Change Image</a>
        </div>
        <br />
        <br />
    }
    else
    {

        <form class="md-form">
            <div class="file-field">
                <div class="z-depth-1-half mb-4">
                    <img src="https://mdbootstrap.com/img/Photos/Others/placeholder.jpg" width="958" height="339" class="img-fluid"
                         alt="example placeholder">
                </div>
                <div class="d-flex justify-content-center">
                    <div class="btn btn-mdb-color btn-rounded float-left">
                        <a asp-controller="Chanels" asp-action="ImageUpload" asp-route-id="@Model.Id">Image Upload</a>
                    </div>
                </div>
            </div>
        </form>


    }
    <div>
        <h1>@Model.Title</h1>
    </div>



    <nav class="navbar navbar-expand-lg navbar-light bg-light row">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Videos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="button1">Description</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="addVideo">Add Video</a>
                </li>
            </ul>
        </div>
    </nav>

    <div id="div1"></div>
    <div id="video"></div>
</div>
@section scripts{

    <script>
                $(document).ready(function () {

                    $("#button1").click(function () {
                        $("#div1").load("/Chanels/Description/@Model.Id");
                    });

                });
    </script>

    <script>
                $(document).ready(function () {

                    $("#addVideo").click(function () {
                        $("#video").load("/Chanels/Videos/@Model.Id");
                    });

                });
    </script>

    @*<script>
            function sentDescription(chanelId) {
                var json = { chanelId: chanelId };
                $.ajax({
                    url: "/Chanels/Description",
                    type: "POST",
                    data: JSON.stringify(json),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        $("#desc").html(data.Description);

                    }
                });
        </script>*@
    @*<script>
             $(document).ready(function () {
                 $("#bindButton").click(function (e) {
            var json = { description: description };
            $.ajax({
                type: "GET",
                url: "/Chanels/Description",
                contentType: "application/json; charset=utf-8",
                data: '{"description":"' + $("#@Model.Description").val() + '"}',
                dataType: "html",
                success: function (result, status, xhr) {
                    $("#partial").html(result)
                },
        </script>*@



    @*<script>
            function getDescrioption(description) {
                var json = { description: description };
                $.ajax({
                    url: "/Chanels/Description",
                    type: "GET",
                    data: JSON.stringify(json),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        $("#description").html(data.getDescrioption);
                    }
                });
        </script>

        <script>
            function getDescrioption(description) {
                var json = { description: description };
                $.ajax({
                    url: "/Chanels/Description",
                    type: "GET",
                    data: JSON.stringify(json),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        $("#description").html(data.getDescrioption);
                    }
                });
        </script>*@

}

@*function sentDescription(description) {
    var json = { description: description};
    $.ajax({
    url: "/Chanels/description",
    type: "GET",
    data: JSON.stringify(json),
    contentType: "application/json; charset=utf-8",
    dataType: "json",
    success: function (data) {
    $("#desc").html(data.description);

    }
    });*@
