@model PlayZone.Web.ViewModels.Videos.VideoEditInputModel
@{
    ViewData["Title"] = "Edit";
}

<div class="text-center">
    <h1>Edit Video</h1>

    <div class="pagination-centered">
        <form method="post" asp-controller="Videos" asp-action="Edit">
            <div>
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
                @if (Model.ExistingTitle != null)
                {
                    <span class="text-danger">@Model.ExistingTitle</span>
                }

            </div>

            <div>
                <label asp-for="Url"></label>
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
                @if (Model.ExistingUrl != null)
                {
                    <span class="text-danger">@Model.ExistingUrl</span>
                }
            </div>

            <div>
                <label asp-for="CategoryId"></label>
                <select asp-for="CategoryId" asp-items="Model.Categories.Select(x=> new SelectListItem(x.Name, x.Id.ToString()))" class="form-control"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="Description"></label>
                <textarea asp-for="Description" rows="5" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <hr />

            <input type="submit" class="btn btn-primary" />
            <a class="btn btn-primary" asp-controller="Videos" asp-action="Details" asp-route-id="@Model.Id">Cancel</a>


        </form>
    </div>
</div>

