
@{
    ViewData["Title"] = "HttpError";
}


<div class="row">
    <img class="col-md-12" src="https://i1.wp.com/saedx.com/blog/wp-content/uploads/2019/01/saedx-blog-featured-70.jpg?fit=1200%2C500&ssl=1" alt="Alternate Text" />
</div>