
@{
    ViewData["Title"] = "Error";
}


<div class="row justify-content-center">
    <img class="col-md-7" src="https://i.pinimg.com/originals/b8/b8/f7/b8b8f787c454cf1ded2d9d870707ed96.png" alt="Alternate Text" />
</div>