@model PlayZone.Web.ViewModels.Home.IndexViewModel
@using PlayZone.Common
@{
    this.ViewData["Title"] = "Home Page";
}

@foreach (var video in Model.Videos)
{
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">@video.Title</h5>
                @if (video.AddBefore.Days >= 1)
                {
                    <small>Added before: @video.AddBefore.Hours Hours</small>
                }
                else
                {
                    <small>Added before: @video.AddBefore.Days Hours</small>
                }
                
            </div>
            <p class="mb-1">@video.UserUserName</p>
            <small>Donec id elit non mi porta.</small>
        </a>

    </div>
}
