@model PlayZone.Web.ViewModels.Home.IndexViewModel
@using PlayZone.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="row">

    @foreach (var video in Model.Videos)
    {
        <div class="col-lg-4 col-md-12">

            <!--Card Wider-->
            <div class="card card-cascade wider">

                <!--Card image-->
                <div class="view view-cascade overlay">
                    <a href="/Videos/Details/@video.Id">
                        <img src="http://i3.ytimg.com/vi/@video.Url/maxresdefault.jpg" class="card-img-top"
                             alt="wider">
                    </a>

                </div>
                <!--/Card image-->
                <!--Card content-->
                <div class="card-body card-body-cascade text-center">
                    <!--Title-->
                    <a href="/Videos/Details/@video.Id"><h4 class="card-title"><strong>@video.Title</strong></h4></a>
                    <hr />
                    <div class="row">
                        <div class="col-md-3">
                            <a href="/Chanels/Details/@video.ChanelId"><img src="http://res.cloudinary.com/dqh6dvohu/image/upload/w_50,c_fill,ar_1:1,g_auto,r_max,bo_2px_solid_blue,b_rgb:ffffff/@video.ChanelImageUrl" /></a>
                        </div>
                        <div class="col-md col-9">
                            <p class="card-text">
                                Chanel: @video.ChanelTitle
                            </p>
                        </div>
                    </div>
                    <p class="card-text">
                       Before: @video.AddBefore
                    </p>
                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card Wider-->

        </div>
    }
</div>